<div class="footerSection">
    <div class="footerContent">
           <a href="#home"><img class="logo" src="assets/img/logo/logo_long.png" alt=""></a> 
        <span>© 2023 Niklas Tibbe</span>
        <div class="social" *ngFor="let link of links; let i = index">
            <img src="assets/img/icon/github.png" alt="" (click)="openNewWindow(link.github)">
            <a [href]="emailstring"><img src="assets/img/icon/mail.png"></a>
            <img src="assets/img/icon/linkedIn.png" alt="" (click)="openNewWindow(link.linkedin)">
        </div>
    </div>
    <div class="legalNoticeLinks">
        <a class="imprintLink hover-underline-animation" routerLink="/imprint">Imprint</a> | 
        <a class="privacyLink hover-underline-animation" routerLink="/privacy">Privacy</a>
    </div>
    
</div>
