<div class="aboutmeSection" id="aboutMe">
    <img class="profileBgSphere"src="./../../assets/img/bg/profileBg.png" alt="">
    <div class="image">
        <!-- <img class="profileImgArm" src="./../../assets/img/Untitled design (30) 2.png" alt=""> -->
        <img class="shape" src="./../../assets/img/bg/shape.png" alt="">
        <img class="profileImg" src="./../../assets/img/hero character photo.png" alt="">
    </div>

    <div class="aboutMe">
            <p class="aboutMeHeader" data-aos="fade-right" >About me</p>
            <span class="aboutMeContent" data-aos="fade-right" >
            Hi, I'm a Frontend-Developer based in Twist, Lower Saxony, Germany. To advance my skills in webdevelopment, I attended an extensive coding-academy, where I learned professional operating principles in programming. During the time I developed various web apps, from responsive websites to business applications and jump-and-run Games. <br>
            You're welcome to visit and test my projects.
            </span>
            <div class="aboutMeDescription" data-aos="fade-right"  data-aos-delay="100">
                <div class="aboutMeContent2">
                    <div class="aboutMeIconBulb" data-aos="zoom-in"  data-aos-delay="100">
                        <img src="./../../assets/img/icon/lightbulb.svg" alt="">
                    </div>
                    <div class="aboutMeText">
                        <span>
                            In my previous positions I was responsible for the optimization of existing as well as the development of new business processes and possible implementation of new ERP systems but never for the actual implementation. I took the next step and started my coding-journey.
                        </span>
                    </div>
                    
                    
                </div>
                <div class="aboutMeContent2">
                    <div class="aboutMeIconPuzzle" data-aos="zoom-in"data-aos-delay="100">
                        <img src="./../../assets/img/icon/puzzle.svg" alt="">
                    </div>
                    <div class="aboutMeText">
                        <span>My private passion consists of expanding my physical as well as mental limits and always looking for new challenges to strengthen body and mind. I gratefully accept new challenges and now look to a future to apply my experience as a junior web developer.</span>
                    </div>              
                </div>
            </div>
            
    </div>
</div>
