<div class="aboutmeSection">
    <div class="image">
        <!-- <img class="profileImgArm" src="./../../assets/img/Untitled design (30) 2.png" alt=""> -->
        <img class="shape" src="./../../assets/img/bg/shape.png" alt="">
        <img class="profileImg" src="./../../assets/img/hero character photo.png" alt="">
    </div>

    <div class="aboutMe">
            <p class="aboutMeHeader">About me</p>
            <span class="aboutMeContent">
            Hi, I'm a Frontend-Developer based in Northern Germany. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, suscipit, quibusdam, sed unde quidem veritatis debitis alias quo eveniet hic ea temporibus qui incidunt fugiat? Nam eligendi tenetur alias quo!
            </span>
            <div class="aboutMeContent2">
                <div class="aboutMeIconBulb">
                    <img src="./../../assets/img/icon/lightbulb.svg" alt="">
                </div>
                <div class="aboutMeText">
                    <span>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae at, repudiandae iure laudantium ducimus libero quasi quos minus assumenda! Nesciunt neque at iste tempore labore saepe laborum earum unde possimus.
                    </span>
                </div>
                
                
            </div>
            <div class="aboutMeContent2" >
                <div class="aboutMeIconPuzzle">
                    <img src="./../../assets/img/icon/puzzle.svg" alt="">
                </div>
                <div class="aboutMeText">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis culpa nam cum dolorum unde iusto accusantium. Ipsa aperiam facere minus aliquid, est aliquam eius dolorum molestias tempora culpa obcaecati animi.</span>
                </div>              
            </div>
    </div>
</div>
