p {
    margin: 0;
}

.contactSec {
    display: flex;
    flex-direction: column;
    padding-top: 75px;

    color: var(--white);

    position: relative;
    z-index: 15;
    .contactHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        .contactHeadline{
            font-size: 45px;
            font-family: var(--font-bold);
        }
        img{
            position: absolute;
            right: 0;
        }
    }
    .contactContent {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 25px;

        gap: 10px;
        .contactSubline {
            display: flex;
            align-items: center;
            p {
                font-size: 23px;
                font-family: var(--font-bold);
            }
            img {
                position: absolute;
                left: 0; 
            }    
        }   
    }
    .contactForm {
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;

            input, textarea {
                display: flex;
                align-items: flex-start;
                padding: 15px 25px;

                font-family: var(--font);
                font-size: 16px;
                color: var(--white);
                
                background-color: var(--darkblue);
                outline: none;
                border: solid 1px var(--blue);
                border-radius: 10px;
                width: 340px;

                &::placeholder {
                    color: var(--white);
                }                  
                &.ng-touched, &.ng-dirty{
                    &.ng-invalid {
                        border: solid 1px red;
                    }
                    &.ng-valid {
                        border: solid 1px var(--lightblue);
                    }
                }
            }
            .relative {
                position: relative;
            }

            .error {
                position: absolute;
                bottom: -20px;
                color: red;
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

@media (min-width: 1000px) {
    
    .contactHeader{
        .contactHeadline{
            font-size: 90px !important;
            font-family: var(--font-bold);
    }
    }
    img{
        position: absolute;
        right: 0;
    }
    .contactFormContainer {
        display: flex;
        justify-content: space-evenly;
        padding-top: 75px;
        .contactContent {
            justify-content: flex-start;
            padding: 0;
            padding-left: 150px;
            width: 473px;
            p {
                font-size: 32px !important;
            }
        }
           
        input, textarea {
            width: 620px !important;
        }
    }
}
