<div class="contactSec">
    <div class="contactHeader">
        <p class="contactHeadline">Contact</p>
        <img src="./../../assets/img/contact_line.svg" alt="">
    </div>

    <div class="contactContent">
        <div class="contactSubline">        
            <p>Got a problem to solve?</p>
            <img src="./../../assets/img/problem_line.svg" alt="">
        </div>
        <span class="contactDescription">
            Contact me through this form, I am looking forward to hearing from you, knowing your ideas and contributing to your projects with my work. <br>
            
            <br> Need a Frontend developer? <b>Contact me!</b> </span>

    </div>
</div>
