<header>
    <a href="#home"><img class="logo" src="assets/img/logo/logo_long.png" alt=""></a>
    <label class="burger" for="burger">
        <input type="checkbox" id="burger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </label>

    <div class="links" [class.isOpen]="isMenuOpen">
        <a class="hover-underline-animation" href="#aboutMe" (click)="closeMenu()">About me</a>
        <a class="hover-underline-animation" href="#skills" (click)="closeMenu()">Skills</a>
        <a class="hover-underline-animation" href="#portfolio" (click)="closeMenu()">Portfolio</a>
        <a class="hover-underline-animation" href="#contact" (click)="closeMenu()">Contact</a>
    </div>

</header>
