header {
    background-color: var(--darkblue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px;

    z-index: 10;
    
    .logo{
        width: 50px;
    }

    .menu {
        cursor: pointer;;
    }

    .links {
        display: none;
    }
}

@media (min-width: 600px) {
    .menu {
        display: none;
    }

    .links{
        display: flex !important;
        gap: 29px;
        a{
            text-decoration: none;
            color: var(--white);
        }
    }
}
