header {
    background-color: var(--darkblue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 20px;

    z-index: 999;
    
    .logo{
        width: 150px;
    }

    .menu {
        cursor: pointer;;
    }

    .links {
        display: none;
        gap: 29px;
        a{
            font-size: 23px;
            text-decoration: none;
            color: var(--white);
        }
    }
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: var(--blue);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
            }
        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }     
}

@media (min-width: 850px) {
    header {
        padding: 25px 100px;
    }
    .menu {
        display: none;
    }

    .links{
        display: flex !important;       
    }
}
