div {
    position: absolute;
    width: 100%;
    height: 700vh;

    overflow: hidden;

    z-index: 1;

    .purpleSphere {
        position: absolute;
        height: 400px;
        top:320px;
        left: -200px;
    }

    .greenSphere {
        position: absolute;
        height: 300px;
        top: 100px;
        right: -180px;

    }

    .profileBgSphere {
        position: absolute;
        height: 516px;
        left: calc(50% - 309px);
        top: 1092px;
        transform: rotate(27deg);
        filter: blur(46.5px);
    }

    .greenSphere2 {
        position: absolute;
        height: 300px;
        top: 3075px;
        left: -170px;
        transform: rotate(230deg);
        }

    .blueSphere {
        position: absolute;
        height: 500px;
        top: 4282px;
        right: -281px;
        transform: rotate(174deg);
    }

    .blueSphere2 {
        position: absolute;
        height: 800px;
        top: 5250px;
        right: -210px;

    }
}

@media (min-width: 800px) {
    .purpleSphere {
        height: 600px !important;
        top:225px !important;
        left: -280px !important;
    }

    .greenSphere {
        height: 570px !important;
        top: 65px !important;
        right: -320px !important;

    }
}

@media (min-width: 1100px) {
    .purpleSphere {
        height: 800px !important;
        top:225px !important;
        left: -280px !important;
    }

    .greenSphere {
        height: 770px !important;
        top: -200px !important;
        right: -350px !important;
        transform: rotate(-26.87deg);
    }
    .profileBgSphere {
        position: absolute;
        height: 690px !important;
        left: unset !important;
        right: 185px;
        top: 1280px !important;
        transform: rotate(35deg);
        filter: blur(46.5px);
    }
    .greenSphere2 {
        height: 600px !important;
        top: 3330px;
        left: -265px !important;
        transform: rotate(28deg) !important;
        }

    .blueSphere {
        position: absolute;
        height: 800px !important;
        top: 4282px;
        right: -345px !important;
        transform: rotate(219deg) !important;
    }
}
