<div>
    <img class="purpleSphere" src="./../../assets/img/bg/blueShadow.png" alt="">
    <img class="greenSphere" src="./../../assets/img/bg/greenShadow.png" alt="">
    <img class="profileBgSphere"src="./../../assets/img/bg/profileBg.png" alt="">
    <img class="greenSphere2" src="./../../assets/img/bg/greenShadow_2.png" alt="">
    <img class="blueSphere" src="./../../assets/img/bg/lightblueShadow.png" alt="">
    <img class="blueSphere2" src="./../../assets/img/bg/blueShadow_2.png" alt="">
</div>
