<div class="skillSec" id="skills">
    <div class="skillContent" data-aos="fade-left" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">

        <div class="skills">
            <p>Skills</p>
            <img src="./../../assets/img/skills_line.svg" class="line">
        </div>

        <p>
            I have gained experience in building projects with various front end technologies and concepts.
        </p>

        <div class="skillListMobile">
            <div class="skillIcons" *ngFor="let skill of skills; let i = index">
                <img src="./../../assets/img/icon/{{skillsImg[i]}}" alt=""> {{skill}}
            </div>
        </div>

        <button class="btn skillbtn">
        Get in touch
    </button>
    </div>
    <div class="skillListDesktop" data-aos="zoom-in" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
        <div class="skillIcons" *ngFor="let skill of skills; let i = index">
            <img src="./../../assets/img/icon/{{skillsImg[i]}}" alt=""> {{skill}}
        </div>
    </div>


</div>