p {
    margin: 0;
}

.portfolioSec {
    display: flex;
    flex-direction: column;
    padding: 75px 25px 25px 25px;

    gap: 25px;

    position: relative;
    overflow: hidden;
    z-index: 15;

    .greenSphere2 {
        position: absolute;
        height: 300px;
        top: 200px;
        left: -170px;
        transform: rotate(230deg);
        z-index: -1;
    }
    .portfolio {
        display: flex;
        align-items: center;
        .line{
            position: absolute;
            left: -30px;
        }
        .portfolioHeadline {
            font-family: var(--font-bold);
            font-size: 45px;
            color:var(--white);
        }
    }
    .portfolioDescription {
        color: var(--white);
        width: 338px;
    }

    .projectMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .projects {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1400px;
            
            img {
                width: 390px;
            }
            .projectContent {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                text-align: center;
                max-width: 500px;
    
                gap: 10px;
                .projectName {
                    font-family: var(--font-bold);
                    font-size: 32px;
                    color: var(--blue);
                }
                .projectTech {
                    text-align: center;
                    font-size: 23px;
                    color: var(--lightblue);
                }
                .projectDescription {
                    
                    color: var(--white);
                }
                .projectLinks {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    padding-top: 35px;
                    .btnLive {
                        width: 152px;
                        height: 58px;
                    }
                    .btnGit {
                        width: 137px;
                        height: 58px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1100px) {
    .portfolioSec{
        .greenSphere2 {
        height: 600px !important;
        top: 200px !important;
        left: -265px !important;
        transform: rotate(28deg) !important;
        }
        .line {
            width: 75px !important;
            height: 5px;
        }
        .portfolioHeadline{
            padding-left: 210px;
            font-size: 90px !important;
        }
        .portfolioDescription {
            padding-left: 210px;
        }
        .projects{
            display: flex !important;
            flex-direction: row !important;
            gap: 50px;
            img {
                width: 750px !important;
            }
            .projectTech {
                text-align: unset !important;
            }
            .projectContent{
                align-items: unset !important;
                text-align: left !important;
            }
        }
        .projects:nth-child(even) {
            flex-direction: row-reverse !important;
            .projectContent:nth-child(even){
                align-items: flex-end !important;
                text-align: right !important;
            }
        }
    }
}