<div class="start">
    <div class="row">
        <div class="dev">
            <p class="name">
                Niklas Tibbe
            </p>
            <p class="profession">
                FRONTEND DEVELOPER
            </p>
        </div>
    </div>
    <button class="btn">Let's talk!</button>

    <div class="startEnd">
        <div class="social">
            <img src="./../../assets/img/icon/github.png" alt="">
            <img src="./../../assets/img/icon/mail.png" alt="">
            <img src="./../../assets/img/icon/linkedIn.png" alt="">
        </div>
        <img src="./../../assets/img/line.svg" alt="">
    </div>
    <!-- <div class="scrollDown">
        <p class="scrollDownContent">Scroll down</p>
        <img class="scrollDownImg" src="./../../assets/img/icon/scrolldown.svg" alt="">
    </div> -->
</div>

