<div class="start" id="home">
        <img class="purpleSphere" src="./../../assets/img/bg/blueShadow.png" alt="">
        <img class="greenSphere" src="./../../assets/img/bg/greenShadow.png" alt="">
    <div class="row">
        <div class="dev">
            <p class="name">
                Niklas Tibbe
            </p>
            <p class="profession">
                FRONTEND DEVELOPER
            </p>
        </div>
    </div>
    <button class="btn">Let's talk!</button>

    <div class="startEnd">
        <div class="social" *ngFor="let links of links; let i = index">
            <img src="./../../assets/img/icon/github.png" alt="" (click)="openNewWindow(links.github)">
            <a [href]="emailstring"><img src="./../../assets/img/icon/mail.png"></a>
            <img src="./../../assets/img/icon/linkedIn.png" alt="" (click)="openNewWindow(links.linkedin)">
        </div>
        <img src="./../../assets/img/line.svg" alt="">
    </div>
    <div class="scrollDown">
        <p class="scrollDownText">Scroll down</p>
        <img class="scrollDownImg" src="./../../assets/img/icon/scrolldown.svg" alt="">
    </div>
</div>

